In [1]:
mahasiswa = ["Lisa", "Isna", "Dami", "Iin", "Steve"]
print(mahasiswa)

['Lisa', 'Isna', 'Dami', 'Iin', 'Steve']

In [2]:
mahasiswa = ("Lisa", "Isna", "Dami", "Iin", "Steve")
print(mahasiswa)

('Lisa', 'Isna', 'Dami', 'Iin', 'Steve')

In [25]:
mahasiswa = {"Lisa", "Isna", "Dami", "Iin", "Steve", "Steve"}
mahasiswa [0] = "Ikzan"
print(mahasiswa)

TypeError: 'set' object does not support item assignment

In [4]:
mahasiswa = ["Lisa", "Isna", "Dami", "Iin", "Steve", "Darma"]
mahasiswa.append("Rahmiati")
mahasiswa.insert(3, "Adit")
mahasiswa.pop()
mahasiswa.sort(reverse=True)
mahasiswa.remove("Steve")
for nama in mahasiswa:
    print("Nama Mahasiswa: ", nama)
    
print(mahasiswa)

Nama Mahasiswa:  Lisa
Nama Mahasiswa:  Isna
Nama Mahasiswa:  Iin
Nama Mahasiswa:  Darma
Nama Mahasiswa:  Dami
Nama Mahasiswa:  Adit
['Lisa', 'Isna', 'Iin', 'Darma', 'Dami', 'Adit']

In [5]:
mahasiswa = ["Lisa", "Isna", "Dami", "Iin", "Steve", "Darma"]
mahasiswa.append("Rahmiati")
mahasiswa.insert(3, "Adit")
mahasiswa.pop()
mahasiswa.sort(reverse=True)
mahasiswa.remove("Steve")

i = 1
for nama in mahasiswa:
    print("Nama Mahasiswa ke-", i ,": ", nama)
    i+=1
    
print(mahasiswa)

Nama Mahasiswa ke- 1 :  Lisa
Nama Mahasiswa ke- 2 :  Isna
Nama Mahasiswa ke- 3 :  Iin
Nama Mahasiswa ke- 4 :  Darma
Nama Mahasiswa ke- 5 :  Dami
Nama Mahasiswa ke- 6 :  Adit
['Lisa', 'Isna', 'Iin', 'Darma', 'Dami', 'Adit']

In [6]:
person = {"name": "Darmawati", "hp": "080808", "kelas": "TEKOM F"}
print(person)

{'name': 'Darmawati', 'hp': '080808', 'kelas': 'TEKOM F'}

In [7]:
person = {"name": "Darmawati", "hp": "080808", "kelas": "TEKOM F"}
for key, value in person.items():
    print(key, ":", value)

name : Darmawati
hp : 080808
kelas : TEKOM F

In [8]:
i = 0
while i <= 5:
    print(i)
    i += 1

0
1
2
3
4
5

In [9]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [11]:
for i in range(5,10):
  print(i)

5
6
7
8
9

In [12]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:3])

['cherry']

In [13]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[3:])

['orange', 'kiwi', 'melon', 'mango']

In [14]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [15]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[1:3])

['banana', 'cherry']

In [16]:
i = 1
while i <= 9:
    print(i)
    i += 2

1
3
5
7
9

In [17]:
i = 1
while i <= 13:
    if i == 7:
        print("WOW")
    else:
        print(i)
    i +=2

1
3
5
WOW
9
11
13

In [19]:
for i in range(1, 11):
    if i <= 8:
        if i % 2 == 1:
            print("hidup")
        else:
            print("mahasiswa")
    else:
        print(i)

hidup
mahasiswa
hidup
mahasiswa
hidup
mahasiswa
hidup
mahasiswa
9
10

In [20]:
for i in range(1, 14):
    print(i)
    if i % 3 == 2:  
        print("Ha")

1
2
Ha
3
4
5
Ha
6
7
8
Ha
9
10
11
Ha
12
13

In [24]:
for i in range(1, 14):
    if i not in [3, 5, 6, 9, 10, 12]:
        print(i)
        
    if i in [2, 5, 8, 11]:
        print("Ha")

    if i in [4, 9]:
        print("Hi")

1
2
Ha
4
Hi
Ha
7
8
Ha
Hi
11
Ha
13