# PRAKTIKUM 9

Ini adalah percobaan pertama membuat kode menggunakan Python

In [1]:
print("Nama: Siti Nurkhalisah")
print ("NIM: 240210501046")

Nama: Siti Nurkhalisah
NIM: 240210501046

## Python Learning

In [ ]:
print("Hello, World!")

Hello, World!

### Analisis

Kode print("Hello, World!") digunakan untuk menampilkan teks Hello, World! pada layar. Perintah ini memanfaatkan fungsi bawaan print() dalam Python yang berfungsi mencetak keluaran ke konsol.

## Python Indentation

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

### Analisis

Kode if 5 > 2: print("Five is greater than two!") digunakan untuk membandingkan dua nilai, yaitu 5 dan 2. Karena kondisi 5 > 2 bernilai True, maka perintah di dalam blok if akan dijalankan dan menampilkan teks "Five is greater than two!" di layar.

In [ ]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

### Analisis

Kode ini membandingkan angka 5 dan 2. Karena 5 lebih besar dari 2, maka program menampilkan tulisan "Five is greater than two!" dua kali. Perbedaannya hanya di jumlah spasi, tapi hasilnya tetap sama.

## Python Variables & Comments

In [ ]:
x = 5
y = "Hello, World!"

In [ ]:
#This is a comment.
print("Hello, World!")

Hello, World!

### Analisis

Kode tersebut membuat dua variabel: x berisi angka 5 dan y berisi teks "Hello, World!". Tanda # digunakan untuk menulis komentar yang tidak dijalankan oleh program. Fungsi print() menampilkan teks "Hello, World!" ke layar.

## Statements

In [ ]:
print("Python is fun!")

Python is fun!

### Analisis

Kode print("Python is fun!") adalah perintah (statement) dalam Python yang digunakan untuk menampilkan teks ke layar. Statement ini menunjukkan bahwa setiap baris kode dalam Python dieksekusi sebagai instruksi oleh komputer.

## Many Statements

In [ ]:
print("Hello World!")
print("Have a good day.")
print("Learning Python is fun!")

Hello World!
Have a good day.
Learning Python is fun!

### Analisis

Kode tersebut berisi tiga perintah print() yang masing-masing menampilkan teks berbeda. Semua perintah dijalankan satu per satu sesuai urutan penulisannya, sehingga program akan menampilkan tiga baris teks di layar secara berurutan.

## Semicolons (Optional, Rarely Used)

In [ ]:
print("Hello"); print("How are you?"); print("Bye bye!")

Hello
How are you?
Bye bye!

### Analisis

Kode print("Hello"); print("How are you?"); print("Bye bye!") menampilkan tiga teks berbeda dalam satu baris. Tanda titik koma (;) digunakan untuk memisahkan perintah

## Print Text

In [ ]:
print("Hello World!")

Hello World!

### Analisis

Kode print("Hello World!") digunakan untuk menampilkan teks Hello World! ke layar. Fungsi print() berfungsi menulis atau menampilkan hasil keluaran dalam program Python.

In [ ]:
print("Hello World!")
print("I am learning Python.")
print("It is awesome!")

Hello World!
I am learning Python.
It is awesome!

### Analisis

Kode tersebut berisi tiga perintah print() yang masing-masing menampilkan teks berbeda. Setiap perintah print() akan menulis hasilnya di baris baru secara otomatis, sehingga muncul tiga baris teks saat program dijalankan.

## Double Quotes

In [ ]:
print("This will work!")
print('This will also work!')

This will work!
This will also work!

### Analisis

Kode tersebut berisi dua perintah print() yang menampilkan teks ke layar. Baris pertama menggunakan tanda kutip ganda, sedangkan baris kedua menggunakan tanda kutip tunggal. Keduanya sama-sama benar dan menghasilkan output yang sama, yaitu teks ditampilkan di layar.

## Print Without a New Line

In [ ]:
print("Hello World!", end=" ")
print("I will print on the same line.")

Hello World! I will print on the same line.

### Analisis

Kode tersebut menampilkan teks menggunakan fungsi print(). Python memperbolehkan penggunaan tanda kutip ganda (" ") atau tunggal (' ') untuk menulis teks (string). Kedua baris kode menghasilkan output yang sama, yaitu menampilkan tulisan di layar.

## Print Numbers

In [ ]:
print(3)
print(358)
print(50000)

3
358
50000

### Analisis

Kode penggunaan fungsi print() untuk menampilkan angka. Berbeda dengan teks, angka tidak ditulis di dalam tanda kutip karena dianggap sebagai nilai numerik. Contoh print(3), print(358), dan print(50000) akan menampilkan angka-angka tersebut langsung di layar.

In [ ]:
print(3 + 3)
print(2 * 5)

6
10

### Analisis

Kode tersebut menampilkan hasil dari operasi aritmatika.
Baris pertama print(3 + 3) menghasilkan 6, dan baris kedua print(2 * 5) menghasilkan 10.

## Mix Text and Numbers

In [ ]:
print("I am", 35, "years old.")

I am 35 years old.

### Analisis

Kode menunjukkan cara menggabungkan teks dan angka dalam satu output menggunakan fungsi print() di Python. Dengan memisahkan elemen menggunakan koma, seperti pada contoh print("I am", 35, "years old."), Python akan menampilkan keduanya dalam satu baris dengan spasi otomatis di antara setiap elemen.

## Creating a Comment

In [ ]:
#This is a comment
print("Hello, World!")

Hello, World!

### Analisis

Kode pada penggunaan komentar dalam Python. Baris yang diawali dengan tanda pagar (#) seperti #This is a comment tidak akan dijalankan oleh program karena dianggap sebagai keterangan atau penjelasan untuk pembaca kode. Baris berikutnya, print("Hello, World!"), merupakan perintah yang akan dijalankan dan menampilkan teks Hello, World! di layar.

In [ ]:
print("Hello, World!") #This is a comment

Hello, World!

### Analisis

Kode ini menunjukkan bahwa komentar di Python juga bisa ditulis di akhir baris kode. Pada print("Hello, World!") #This is a comment, bagian sebelum tanda pagar (#) adalah perintah yang akan dijalankan untuk menampilkan teks Hello, World!, sedangkan bagian setelah # adalah komentar yang diabaikan oleh Python.

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

### Analisis

Baris tersebut diawali dengan tanda pagar (#), sehingga Python akan mengabaikannya. Hanya baris print("Cheers, Mate!") yang dijalankan, dan hasil yang ditampilkan di layar adalah Cheers, Mate!.

## Multiline Comments

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

### Analisis

Kode ini menunjukkan cara membuat komentar lebih dari satu baris (multiline comment) dalam Python. Karena Python tidak memiliki sintaks khusus untuk komentar panjang, setiap baris komentar harus diawali dengan tanda pagar (#).Tiga baris pertama adalah komentar yang diabaikan oleh Python, sedangkan baris terakhir akan dijalankan dan menampilkan teks Hello, World! di layar.

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

### Analisis

Kode tersebut menggunakan tanda kutip tiga (""" ... """) untuk membuat komentar beberapa baris di Python. Teks di dalamnya diabaikan oleh program, sedangkan baris print("Hello, World!") akan menampilkan output “Hello, World!”.

## Creating Variables

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

### Analisis

Kode tersebut membuat variabel x dengan nilai 5 dan y dengan nilai "John", lalu menampilkannya menggunakan perintah print().

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

### Analisis

Kode tersebut menunjukkan bahwa di Python, variabel tidak perlu dideklarasikan dengan tipe tertentu dan dapat berubah tipe nilainya. Awalnya, variabel x diberi nilai 4 (tipe int), lalu nilainya diubah menjadi "Sally" (tipe str). Ketika print(x) dijalankan, hasil yang ditampilkan adalah Sally.

## Casting

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

### Analisis

Kode ini menunjukkan casting dalam Python, yaitu proses mengubah tipe data suatu nilai. Pada baris pertama, x = str(3) mengubah angka 3 menjadi string '3'. Baris kedua, y = int(3) menyimpan nilai 3 sebagai bilangan bulat. Sedangkan z = float(3) mengubah angka 3 menjadi bilangan desimal 3.0.

## Get the Type

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

### Analisis

cara mengetahui tipe data suatu variabel menggunakan fungsi type() dalam Python. Variabel x diberi nilai 5 yang bertipe integer (int), sedangkan y berisi "John" yang bertipe string (str). Saat perintah print(type(x)) dan print(type(y)) dijalankan, hasilnya akan menampilkan tipe data masing-masing variabel.

## Single or Double Quotes?

In [ ]:
x = "John"
# is the same as
x = 'John'

### Analisis

Kode ini menjelaskan bahwa dalam Python, string dapat ditulis menggunakan tanda kutip tunggal (‘ ’) maupun kutip ganda (“ ”), dan keduanya memiliki fungsi yang sama. Pada contoh, x = "John" dan x = 'John' menghasilkan nilai yang identik, yaitu string berisi teks John.

## Case-Sensitive

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

### Analisis

Kode ini menunjukkan bahwa Python bersifat case-sensitive, artinya huruf besar dan huruf kecil dianggap berbeda. Pada contoh, a = 4 dan A = "Sally" adalah dua variabel yang berbeda, meskipun namanya mirip. Nilai dari a tidak akan menimpa nilai dari A, dan sebaliknya.

## Variable Names

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

### Analisis

Kode ini menjelaskan aturan penamaan variabel dalam Python. Nama variabel harus diawali huruf atau garis bawah, tidak boleh diawali angka, hanya boleh berisi huruf, angka, dan garis bawah, serta case-sensitive. Selain itu, tidak boleh menggunakan kata kunci Python. Contohnya: myvar, my_var, _my_var, myVar, dan myvar2.

## Camel Case

In [ ]:
myVariableName = "John"

### Analisis

Kode ini menjelaskan Camel Case, yaitu penulisan variabel di mana kata pertama huruf kecil dan kata berikutnya diawali huruf besar, seperti myVariableName = "John".

## Pascal Case

In [ ]:
MyVariableName = "John"

### Analisis

Kode ini menjelaskan Pascal Case, yaitu gaya penulisan variabel di mana setiap kata diawali huruf besar, termasuk kata pertama. Contohnya, MyVariableName = "John". Gaya ini sering digunakan untuk penamaan kelas atau objek dalam pemrograman.

## Snake Case

In [ ]:
my_variable_name = "John"

### Analisis

Kode ini menjelaskan Snake Case, yaitu gaya penulisan variabel di mana setiap kata dipisahkan dengan tanda garis bawah (_). Contohnya, my_variable_name = "John".

## Many Values to Multiple Variables

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

### Analisis

Kode ini menunjukkan bahwa Python memungkinkan pemberian banyak nilai ke beberapa variabel sekaligus dalam satu baris. Pada contoh x, y, z = "Orange", "Banana", "Cherry", nilai "Orange" diberikan ke x, "Banana" ke y, dan "Cherry" ke z. Saat dicetak, masing-masing variabel menampilkan nilainya sendiri.

## One Value to Multiple Variables

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

### Analisis

Kode ini menunjukkan bahwa Python dapat memberikan satu nilai yang sama ke beberapa variabel sekaligus dalam satu baris. Pada contoh x = y = z = "Orange", ketiga variabel (x, y, dan z) akan berisi nilai yang sama, yaitu "Orange".

## Unpack a Collection

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

### Analisis

Kode tersebut menunjukkan unpacking, yaitu mengambil nilai dari list ke beberapa variabel sekaligus. Contohnya, x, y, z = fruits akan memberi nilai "apple", "banana", dan "cherry" ke masing-masing variabel.

## Output Variables

In [ ]:
x = "Python is awesome"
print(x)

Python is awesome

### Analisis

Kode tersebut menyimpan teks "Python is awesome" ke dalam variabel x, lalu menampilkannya di layar menggunakan perintah print(x). Hasilnya, program akan mencetak Python is awesome.

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

### Analisis

Kode tersebut membuat tiga variabel x, y, dan z yang masing-masing berisi teks "Python", "is", dan "awesome". Perintah print(x, y, z) menampilkan ketiganya dipisahkan spasi, sehingga hasil outputnya adalah Python is awesome.

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

### Analisis

Kode tersebut menggabungkan tiga string menggunakan operator +. Variabel x, y, dan z berisi teks "Python ", "is ", dan "awesome". Saat dicetak dengan print(x + y + z), hasilnya menjadi satu kalimat utuh: Python is awesome.

In [ ]:
x = 5
y = 10
print(x + y)

15

### Analisis

Kode tersebut menjumlahkan dua nilai numerik. Variabel x bernilai 5 dan y bernilai 10. Perintah print(x + y) menghitung hasil penjumlahan keduanya, sehingga output yang ditampilkan adalah 15.

In [ ]:
x = 5
y = "John"
print(x, y)

5 John

### Analisis

Kode tersebut membuat dua variabel: x dengan nilai 5 (tipe integer) dan y dengan nilai "John" (tipe string). Saat dijalankan, print(x, y) menampilkan keduanya dipisahkan spasi, menghasilkan output 5 John.

## Global Variables

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

### Analisis

Kode tersebut mendemonstrasikan penggunaan variabel global di dalam fungsi. Variabel x berisi string "awesome" yang didefinisikan di luar fungsi. Fungsi myfunc() mencetak teks "Python is " yang digabung dengan nilai x. Saat fungsi dipanggil, hasil outputnya adalah Python is awesome.

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

### Analisis

Kode tersebut menunjukkan perbedaan antara variabel lokal dan global. Variabel global x bernilai "awesome", tetapi di dalam fungsi myfunc() dibuat variabel lokal x dengan nilai "fantastic". Saat fungsi dijalankan, outputnya adalah Python is fantastic, karena fungsi menggunakan variabel lokalnya sendiri. Setelah fungsi selesai, perintah print("Python is " + x) di luar fungsi menampilkan Python is awesome, karena menggunakan variabel global.

## The global Keyword

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

### Analisis

Kode tersebut menggunakan kata kunci global untuk membuat variabel x bersifat global meskipun didefinisikan di dalam fungsi. Saat myfunc() dijalankan, x diberi nilai "fantastic" dan dapat diakses di luar fungsi. Karena itu, perintah print("Python is " + x) menampilkan hasil Python is fantastic.

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

### Analisis

Kode tersebut menunjukkan penggunaan variabel global dalam fungsi. Awalnya, x bernilai "awesome". Di dalam fungsi myfunc(), perintah global x membuat variabel x di luar fungsi dapat diubah. Saat fungsi dijalankan, nilai x berubah menjadi "fantastic". Akibatnya, perintah print("Python is " + x) menampilkan Python is fantastic.

## Getting the Data Type

In [ ]:
x = 5
print(type(x))

<class 'int'>

### Analisis

Kode tersebut digunakan untuk menampilkan tipe data dari variabel x. Karena x bernilai 5, maka tipenya adalah integer (int). Saat dijalankan, output yang muncul adalah <class 'int'>, yang menunjukkan bahwa x bertipe bilangan bulat.

## Python Numbers

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

### Analisis

Kode tersebut menunjukkan tiga tipe data angka di Python: x sebagai integer, y sebagai float, dan z sebagai complex. Python mendukung ketiganya untuk berbagai jenis perhitungan.

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

### Analisis

Kode tersebut digunakan untuk menampilkan tipe data dari masing-masing variabel. Fungsi type() akan menunjukkan bahwa x bertipe int, y bertipe float, dan z bertipe complex. Outputnya menegaskan perbedaan ketiga jenis data numerik tersebut.

## Int

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

### Analisis

Kode tersebut mendefinisikan tiga variabel bertipe integer (int) dengan nilai berbeda: x bernilai kecil, y sangat besar, dan z bernilai negatif. Saat dicek dengan type(), ketiganya tetap bertipe int

## Float

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

### Analisis

Kode tersebut mendefinisikan tiga variabel bertipe float, yaitu bilangan desimal. Nilai x = 1.10, y = 1.0, dan z = -35.59 semuanya memiliki tanda titik desimal, sehingga Python mengenalinya sebagai tipe float. Saat diperiksa dengan type(), hasilnya menunjukkan <class 'float'> untuk ketiganya.

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

### Analisis

Kode tersebut menggunakan notasi ilmiah (scientific notation) untuk menulis angka dalam bentuk eksponensial. Nilai 35e3 berarti 
35
×
10
3
35×10
3
 atau 35000, 12E4 berarti 
12
×
10
4
12×10
4
 atau 120000, dan -87.7e100 berarti 
−
87.7
×
10
100
−87.7×10
100
. Ketiganya bertipe float, karena notasi eksponensial selalu menghasilkan bilangan desimal dalam Python.

## Complex

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

### Analisis

Kode tersebut menunjukkan penggunaan bilangan kompleks dalam Python. Variabel x = 3+5j memiliki bagian real 3 dan imajiner 5, sedangkan y = 5j hanya memiliki bagian imajiner positif, dan z = -5j bagian imajiner negatif. Saat diperiksa dengan type(), ketiganya bertipe complex, ditampilkan sebagai <class 'complex'>.

## Type Conversion

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

### Analisis

Kode tersebut menunjukkan proses konversi tipe data numerik di Python. Variabel x, y, dan z masing-masing bertipe int, float, dan complex. Nilai x dikonversi menjadi float (a = float(x)), y dikonversi menjadi int (b = int(y)), dan x dikonversi menjadi complex (c = complex(x)). Hasil cetak menampilkan nilai 1.0, 2, dan (1+0j) beserta tipe datanya: float, int, dan complex. Ini menunjukkan bahwa Python dapat dengan mudah mengubah tipe angka sesuai kebutuhan perhitungan.

## Random Number

In [ ]:
import random

print(random.randrange(1, 10))

4

### Analisis 

Kode tersebut menggunakan modul random untuk menghasilkan angka acak. Fungsi random.randrange(1, 10) akan menampilkan bilangan bulat acak dari 1 hingga 9 (batas atas 10 tidak termasuk). Setiap kali program dijalankan, hasilnya bisa berbeda karena dipilih secara acak oleh Python.

## Python Casting

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

### Analisis

Kode tersebut menunjukkan penggunaan fungsi int() untuk mengonversi berbagai tipe data menjadi bilangan bulat. Nilai 1 tetap menjadi 1, nilai 2.8 diubah menjadi 2 (bagian desimal dibuang), dan string "3" dikonversi menjadi angka 3. Fungsi ini berguna untuk memastikan data bertipe integer sebelum digunakan dalam perhitungan.

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

### Analisis

Kode tersebut menggunakan fungsi float() untuk mengonversi nilai menjadi bilangan desimal. Nilai 1 menjadi 1.0, 2.8 tetap 2.8, string "3" diubah menjadi 3.0, dan string "4.2" menjadi 4.2. Fungsi ini berguna untuk memastikan data bertipe float agar dapat digunakan dalam perhitungan desimal di Python.

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

### Analisis

Kode tersebut menggunakan fungsi str() untuk mengonversi berbagai tipe data menjadi string (teks). Nilai "s1" tetap menjadi 's1', angka 2 diubah menjadi '2', dan angka desimal 3.0 menjadi '3.0'. Dengan demikian, semua variabel (x, y, dan z) bertipe string dan bisa digunakan untuk operasi berbasis teks.

## Strings

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

### Analisis

Kode tersebut menampilkan teks "Hello" ke layar. Python mengizinkan penggunaan tanda kutip tunggal (' ') maupun ganda (" ") untuk membuat string, dan keduanya menghasilkan output yang sama. Jadi, kedua baris kode mencetak Hello tanpa perbedaan.

## Quotes Inside Quotes

In [ ]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

### Analisis

Kode tersebut menunjukkan cara menulis string yang berisi tanda kutip di dalamnya. Pada baris pertama, kutip ganda digunakan agar tanda ' pada kata It's tidak menimbulkan error. Baris kedua menampilkan teks dengan kutip tunggal di dalam string, sedangkan baris ketiga menggunakan kutip tunggal di luar dan kutip ganda di dalam.

## Assign String to a Variable

In [ ]:
a = "Hello"
print(a)

Hello

### Analisis

Kode tersebut mendefinisikan variabel a dengan nilai string "Hello", lalu mencetak isinya menggunakan print(a). Hasil outputnya adalah Hello, yang menunjukkan cara sederhana menampilkan teks yang disimpan dalam variabel di Python.

## Multiline Strings

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### Analisis

Kode tersebut menunjukkan penggunaan tanda kutip tiga (""" ... """) untuk membuat string multi-baris di Python. Dengan cara ini, teks dapat ditulis dalam beberapa baris tanpa perlu tanda \n. Variabel a menyimpan paragraf panjang, dan print(a) menampilkan seluruh isi teks sesuai dengan format baris aslinya.

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### Analisis

Kode tersebut menggunakan tanda kutip tiga tunggal (''' ... ''') untuk membuat string multi-baris. Dengan cara ini, teks dapat ditulis dan disimpan dalam beberapa baris tanpa karakter khusus. Variabel a menyimpan paragraf teks, dan perintah print(a) menampilkan isi teks tersebut sesuai susunan baris aslinya.

## Strings are Arrays

In [ ]:
a = "Hello, World!"
print(a[1])

e

### Analisis

Kode tersebut menampilkan karakter tertentu dari sebuah string menggunakan indeks. Variabel a berisi teks "Hello, World!", dan a[1] mengambil karakter pada posisi indeks ke-1 (karakter kedua, karena indeks dimulai dari 0). Hasilnya, program mencetak huruf ‘e’.

## Looping Through a String

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

### Analisis

Kode tersebut menggunakan perulangan for untuk menelusuri setiap karakter dalam string "banana". Pada setiap iterasi, variabel x menyimpan satu huruf dari kata tersebut, lalu mencetaknya. Hasilnya, huruf b, a, n, a, n, a ditampilkan secara vertikal, satu per baris.

## String Length

In [ ]:
a = "Hello, World!"
print(len(a))

13

### Analisis

Kode tersebut menggunakan fungsi len() untuk menghitung jumlah karakter dalam string. Variabel a berisi teks "Hello, World!", dan len(a) menghitung semua huruf, spasi, tanda koma, serta tanda seru. Hasilnya adalah 13, yang menunjukkan panjang total string tersebut.

## Check String

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

### Analisis

Kode tersebut memeriksa apakah kata "free" terdapat di dalam string txt. Operator in digunakan untuk mengecek keberadaan substring. Karena kata "free" memang ada dalam teks "The best things in life are free!", hasil dari print("free" in txt) adalah True.

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

### Analisis

Kode tersebut menggunakan operator in dalam pernyataan if untuk memeriksa apakah kata "free" ada di dalam string txt. Karena "free" memang terdapat dalam teks "The best things in life are free!", kondisi bernilai True, sehingga program mengeksekusi perintah di dalam blok if dan mencetak Yes, 'free' is present.

## Check if NOT

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

### Analisis

Kode tersebut menggunakan operator not in untuk memeriksa apakah kata "expensive" tidak terdapat di dalam string txt. Karena teks "The best things in life are free!" tidak mengandung kata "expensive", maka hasil dari print("expensive" not in txt) adalah True.

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

### Analisis

Kode tersebut menggunakan operator not in dalam pernyataan if untuk memeriksa apakah kata "expensive" tidak ada di dalam string txt. Karena teks "The best things in life are free!" memang tidak mengandung kata tersebut, kondisi bernilai True, sehingga program menampilkan output No, 'expensive' is NOT present.

## Slicing

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

### Analisis

Kode ini menyimpan string "Hello, World!" ke dalam variabel b, lalu menggunakan slicing b[2:5] untuk mengambil sebagian karakter dari indeks 2 sampai sebelum indeks 5. Karakter yang diambil adalah 'l', 'l', dan 'o', sehingga saat dicetak, hasilnya adalah "llo".

## Slice From the Start

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

### Analisis

Kode ini menyimpan string "Hello, World!" ke dalam variabel b, kemudian menggunakan slicing b[:5] untuk mengambil karakter dari awal string hingga sebelum indeks 5. Karakter yang diambil adalah 'H', 'e', 'l', 'l', dan 'o', sehingga saat dicetak, hasilnya adalah "Hello".

## Slice To the End

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

### Analisis

Kode ini menyimpan string "Hello, World!" ke dalam variabel b, lalu menggunakan slicing b[2:] untuk mengambil karakter mulai dari indeks 2 sampai akhir string. Karakter yang diambil dimulai dari 'l' (indeks 2) hingga '!', sehingga saat dicetak, hasilnya adalah "llo, World!".

## Negative Indexing

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

### Analisis

Kode ini menyimpan string "Hello, World!" ke dalam variabel b, kemudian menggunakan slicing b[-5:-2] untuk mengambil karakter dari indeks negatif -5 sampai sebelum -2. Dengan menghitung dari akhir string, karakter yang diambil adalah 'o', 'r', dan 'l', sehingga saat dicetak, hasilnya adalah "orl".

## Upper Case

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

### Analisis

Kode ini menyimpan string "Hello, World!" ke dalam variabel a, kemudian menggunakan metode upper() untuk mengubah semua huruf dalam string menjadi huruf kapital. Hasilnya adalah string "HELLO, WORLD!", yang kemudian dicetak ke layar.

## Lower Case

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

### Analisis

Kode ini menyimpan string "Hello, World!" ke dalam variabel a, kemudian menggunakan metode lower() untuk mengubah semua huruf dalam string menjadi huruf kecil. Hasilnya adalah "hello, world!", yang kemudian dicetak ke layar.

## Remove Whitespace

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

### Analisis

Kode ini menyimpan string " Hello, World! " ke dalam variabel a, yang memiliki spasi di awal dan akhir. Metode strip() digunakan untuk menghapus spasi kosong di kedua ujung string tanpa mengubah spasi di tengah. Hasilnya adalah "Hello, World!", yang kemudian dicetak ke layar.

## Replace String

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

### Analisis

Kode ini menyimpan string "Hello, World!" ke dalam variabel a, kemudian menggunakan metode replace("H", "J") untuk mengganti semua kemunculan huruf "H" dengan huruf "J". Hasilnya adalah "Jello, World!", yang kemudian dicetak ke layar.

## Split String

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

### Analisis

Kode ini menyimpan string "Hello, World!" ke dalam variabel a, kemudian menggunakan metode split(",") untuk memisahkan string menjadi daftar (list) berdasarkan pemisah koma ,. String akan dipecah di setiap koma, sehingga hasilnya adalah list ['Hello', ' World!'], yang kemudian dicetak ke layar.

## String Concatenation

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

### Analisis

Kode ini menyimpan string "Hello" ke dalam variabel a dan "World" ke dalam variabel b, kemudian menggunakan operator + untuk menggabungkan kedua string menjadi satu string baru c. Hasil penggabungan adalah "HelloWorld", yang kemudian dicetak ke layar.

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

### Analisis

Kode ini menyimpan string "Hello" ke dalam variabel a dan "World" ke dalam variabel b, kemudian menggunakan operator + untuk menggabungkan a, sebuah spasi " ", dan b menjadi satu string baru c. Hasilnya adalah "Hello World", yang kemudian dicetak ke layar.

## F-Strings

In [ ]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

### Analisis

Kode ini menyimpan angka 36 ke dalam variabel age, kemudian membuat string txt menggunakan f-string (f"..."). F-string memungkinkan menyisipkan nilai variabel langsung ke dalam string dengan {}. Di sini, {age} digantikan dengan 36, sehingga txt menjadi "My name is John, I am 36", yang kemudian dicetak ke layar.

## Placeholders and Modifiers

In [ ]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

### Analisis

Kode ini menyimpan angka 59 ke dalam variabel price, kemudian membuat string txt menggunakan f-string (f"..."). F-string memungkinkan memasukkan nilai variabel langsung ke dalam string menggunakan {}. Di sini, {price} digantikan dengan 59, sehingga txt menjadi "The price is 59 dollars", yang kemudian dicetak ke layar.

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

### Analisis

Kode ini menyimpan angka 59 ke dalam variabel price, kemudian membuat string txt menggunakan f-string dengan format {price:.2f}. Format .2f digunakan untuk menampilkan angka sebagai floating point dengan 2 angka di belakang koma. Meskipun price adalah bilangan bulat 59, hasil format ini menjadi 59.00. Jadi txt menjadi "The price is 59.00 dollars", yang kemudian dicetak ke layar.

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

### Analisis

Kode ini menggunakan f-string untuk membuat string txt dengan menyisipkan hasil ekspresi {20 * 59} langsung ke dalam string. Python akan menghitung 20 * 59 terlebih dahulu, hasilnya 1180, lalu menyisipkannya ke dalam string. Sehingga txt menjadi "The price is 1180 dollars", yang kemudian dicetak ke layar.

## Escape Character

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."

### Analisis

Kode ini menyimpan string "We are the so-called \"Vikings\" from the north." ke dalam variabel txt. Tanda backslash \ digunakan untuk escape karakter kutip ganda di dalam string sehingga Python mengenalinya sebagai bagian dari string, bukan penutup string.

## Boolean Values

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

### Analisis

Kode ini melakukan perbandingan angka dan mencetak hasilnya. Pernyataan 10 > 9 mengecek apakah 10 lebih besar dari 9 dan menghasilkan True, 10 == 9 mengecek apakah 10 sama dengan 9 dan menghasilkan False, sedangkan 10 < 9 mengecek apakah 10 lebih kecil dari 9 dan juga menghasilkan False. Output yang dicetak berturut-turut adalah True, False, dan False.

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

### Analisis

Kode ini membandingkan dua variabel angka, a = 200 dan b = 33, menggunakan pernyataan if-else. Kondisi if b > a mengecek apakah b lebih besar dari a. Karena 33 tidak lebih besar dari 200, kondisi ini False, sehingga blok else dijalankan. Hasilnya, program mencetak "b is not greater than a".

## Evaluate Values and Variables

In [ ]:
print(bool("Hello"))
print(bool(15))

True
True

### Analisis

Kode ini menggunakan fungsi bool() untuk mengubah nilai menjadi tipe boolean. String "Hello" dianggap True karena tidak kosong, sedangkan angka 15 juga dianggap True karena bukan nol. Dengan demikian, kedua pernyataan tersebut menghasilkan output True yang dicetak ke layar.

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

### Analisis

Kode ini menyimpan string "Hello" ke dalam variabel x dan angka 15 ke dalam variabel y, kemudian menggunakan fungsi bool() untuk mengubah keduanya menjadi tipe boolean. String "Hello" tidak kosong, sehingga bool(x) bernilai True, sedangkan angka 15 bukan nol, sehingga bool(y) juga bernilai True. Kedua hasil ini kemudian dicetak ke layar.

## Most Values are True

In [ ]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

### Analisis 

Kode ini menggunakan fungsi bool() untuk mengubah berbagai nilai menjadi tipe boolean. String "abc" dianggap True karena tidak kosong, angka 123 dianggap True karena bukan nol, dan list ["apple", "cherry", "banana"] juga dianggap True karena tidak kosong. Dengan demikian, ketiga pernyataan ini semua menghasilkan nilai boolean True.

## Some Values are False

In [ ]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

### Analisis

Kode ini menggunakan fungsi bool() untuk mengubah berbagai nilai menjadi tipe boolean. Nilai-nilai seperti False, None, angka 0, string kosong "", tuple kosong (), list kosong [], dan dictionary kosong {} semua dianggap False dalam Python. Dengan demikian, semua pernyataan ini menghasilkan nilai boolean False.

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

### Analisis

Kode ini mendefinisikan sebuah kelas myclass dengan metode khusus __len__() yang selalu mengembalikan 0. Setelah membuat objek myobj dari kelas ini, Python menggunakan aturan boolean untuk objek: jika objek memiliki metode __len__() yang mengembalikan 0, objek dianggap False saat dikonversi menjadi boolean. Oleh karena itu, bool(myobj) menghasilkan False dan dicetak ke layar.

## Functions can Return a Boolean

In [ ]:
def myFunction() :
  return True

print(myFunction())

True

### Analisis

Kode ini mendefinisikan sebuah fungsi myFunction() yang selalu mengembalikan nilai True menggunakan pernyataan return True. Saat fungsi dipanggil dengan print(myFunction()), fungsi mengembalikan True, sehingga yang dicetak ke layar adalah True.

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

### Analisis

Kode ini mendefinisikan fungsi myFunction() yang selalu mengembalikan True. Pernyataan if myFunction(): memanggil fungsi tersebut dan mengevaluasi nilai kembalian. Karena fungsi mengembalikan True, blok if dijalankan, sehingga program mencetak "YES!" ke layar, sedangkan blok else tidak dijalankan.

In [ ]:
x = 200
print(isinstance(x, int))

True

### Analisis

Kode ini menyimpan angka 200 ke dalam variabel x, kemudian menggunakan fungsi isinstance() untuk memeriksa apakah x adalah objek dari tipe int. Karena x memang berupa bilangan bulat, isinstance(x, int) mengembalikan True, yang kemudian dicetak ke layar.

## Python Operators

In [ ]:
print(10 + 5)

15

### Analisis

Kode ini melakukan operasi penjumlahan antara angka 10 dan 5 menggunakan operator +. Hasil penjumlahan adalah 15, yang kemudian dicetak ke layar.

In [ ]:
sum1 = 100 + 50      # 150 (100 + 50)
sum2 = sum1 + 250    # 400 (150 + 250)
sum3 = sum2 + sum2   # 800 (400 + 400)

### Analisis

Kode ini melakukan beberapa operasi penjumlahan bertahap dan menyimpan hasilnya ke variabel. Pertama, sum1 = 100 + 50 menghasilkan 150. Kemudian, sum2 = sum1 + 250 menambahkan 150 dengan 250 sehingga menjadi 400. Terakhir, sum3 = sum2 + sum2 menambahkan 400 dengan dirinya sendiri, menghasilkan 800. Setiap hasil disimpan untuk digunakan pada langkah berikutnya.

## Arithmetic Operators

In [ ]:
x = 15
y = 4

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)

19
11
60
3.75
3
50625
3

### Analisis

Kode ini menyimpan angka 15 ke dalam variabel x dan 4 ke dalam variabel y, lalu melakukan berbagai operasi aritmatika. Penjumlahan x + y menghasilkan 19, pengurangan x - y menghasilkan 11, dan perkalian x * y menghasilkan 60. Pembagian biasa x / y menghasilkan 3.75, sedangkan sisa pembagian x % y menghasilkan 3. Operasi pangkat x ** y menghasilkan 50625, dan pembagian bulat x // y menghasilkan 3. Dengan demikian, kode ini menunjukkan semua operasi aritmatika dasar di Python.

## Division in Python

In [ ]:
x = 12
y = 5

print(x / y)

2.4

### Analisis

Kode ini menyimpan angka 12 ke dalam variabel x dan 5 ke dalam variabel y, kemudian melakukan pembagian biasa menggunakan operator /. Hasil pembagian 12 ÷ 5 adalah 2.4, yang kemudian dicetak ke layar.

In [ ]:
x = 12
y = 5

print(x // y)

2

### Analisis

Kode ini menyimpan angka 12 ke dalam variabel x dan 5 ke dalam variabel y, kemudian melakukan pembagian bulat menggunakan operator //. Operator ini membagi x dengan y dan hanya mengambil bagian bilangan bulat dari hasilnya. Hasil 12 ÷ 5 adalah 2.4, sehingga x // y menghasilkan 2, yang kemudian dicetak ke layar.

## The Walrus Operator

In [ ]:
numbers = [1, 2, 3, 4, 5]
count = len(numbers)
if count > 3:
    print(f"List has {count} elements")

if (count := len(numbers)) > 3:
    print(f"List has {count} elements")

List has 5 elements
List has 5 elements

### Analisis

Kode ini menghitung jumlah elemen dalam list [1, 2, 3, 4, 5] dan mencetak "List has 5 elements" jika lebih dari 3. Cara pertama menyimpan hasil len(numbers) ke variabel count sebelum pengecekan, sedangkan cara kedua menggunakan walrus operator := untuk menghitung dan menyimpan sekaligus. Kedua cara menghasilkan output yang sama.

## Comparison Operators

In [ ]:
x = 5
y = 3

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False

### Analisis

Kode ini membandingkan dua variabel x = 5 dan y = 3 menggunakan berbagai operator perbandingan. Pernyataan x == y bernilai False karena 5 tidak sama dengan 3, sedangkan x != y bernilai True karena 5 tidak sama dengan 3. x > y bernilai True karena 5 lebih besar dari 3, sedangkan x < y bernilai False. Operator x >= y bernilai True karena 5 lebih besar atau sama dengan 3, dan x <= y bernilai False karena 5 tidak lebih kecil atau sama dengan 3.

## Chaining Comparison Operators

In [ ]:
x = 5

print(1 < x < 10)

print(1 < x and x < 10)

True
True

### Analisis

Kode ini mengecek apakah x = 5 berada di antara 1 dan 10 dengan dua cara. Pertama, menggunakan chained comparison 1 < x < 10, yang langsung mengevaluasi apakah 1 < 5 < 10, menghasilkan True. Kedua, menggunakan operator logika and dengan 1 < x and x < 10, yang mengecek kondisi yang sama secara terpisah, juga menghasilkan True.

## Logical Operators

In [ ]:
x = 5

print(x > 0 and x < 10)

True

### Analisis

Kode ini menyimpan angka 5 ke dalam variabel x dan menggunakan operator logika and untuk mengecek dua kondisi sekaligus: apakah x > 0 dan x < 10. Karena 5 lebih besar dari 0 dan juga lebih kecil dari 10, kedua kondisi bernilai True, sehingga seluruh ekspresi x > 0 and x < 10 bernilai True, yang kemudian dicetak ke layar.

In [ ]:
x = 5

print(x < 5 or x > 10)

False

### Analisis

Kode ini menyimpan angka 5 ke dalam variabel x dan menggunakan operator logika or untuk mengecek apakah salah satu dari dua kondisi benar: x < 5 atau x > 10. Karena 5 tidak kurang dari 5 dan juga tidak lebih dari 10, kedua kondisi bernilai False. Dengan operator or, ekspresi hanya True jika salah satu kondisi True, sehingga hasil x < 5 or x > 10 adalah False, yang kemudian dicetak ke layar.

In [ ]:
x = 5

print(not(x > 3 and x < 10))

False

### Analisis

Kode ini menyimpan angka 5 ke dalam variabel x dan mengevaluasi ekspresi (x > 3 and x < 10) yang memeriksa apakah 5 lebih besar dari 3 dan kurang dari 10. Karena kedua kondisi ini True, ekspresi awal bernilai True. Kemudian operator not membalik nilai tersebut, sehingga hasil akhirnya menjadi False, yang kemudian dicetak ke layar.

## Identity Operators

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print(x == y)

True
False
True

### Analisis

Kode ini membandingkan list x, y, dan z menggunakan operator is dan ==. Pernyataan x is z bernilai True karena z adalah referensi ke list yang sama dengan x. Pernyataan x is y bernilai False karena meskipun x dan y memiliki isi yang sama, mereka adalah objek berbeda di memori. Sedangkan x == y bernilai True karena operator == membandingkan isi list, dan kedua list memiliki elemen yang sama.

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]

print(x is not y)

True

### Analisis

Kode ini menyimpan dua list x dan y yang memiliki isi sama, tetapi merupakan objek berbeda di memori. Pernyataan x is not y menggunakan operator is not untuk memeriksa apakah kedua variabel bukan objek yang sama. Karena x dan y adalah list terpisah, hasilnya adalah True, yang kemudian dicetak ke layar.

## Difference Between is and ==

In [ ]:
x = [1, 2, 3]
y = [1, 2, 3]

print(x == y)
print(x is y)

True
False

### Analisis

Kode ini membandingkan dua list x = [1, 2, 3] dan y = [1, 2, 3] menggunakan operator == dan is. Pernyataan x == y bernilai True karena kedua list memiliki isi yang sama, sedangkan x is y bernilai False karena meskipun isinya sama, x dan y adalah objek berbeda di memori. Dengan demikian, == memeriksa kesamaan isi, sedangkan is memeriksa identitas objek.

## Membership Operators

In [ ]:
fruits = ["apple", "banana", "cherry"]

print("banana" in fruits)

True

### Analisis

Kode ini menyimpan list fruits = ["apple", "banana", "cherry"] dan menggunakan operator in untuk memeriksa apakah string "banana" ada di dalam list. Karena "banana" termasuk dalam elemen list, ekspresi "banana" in fruits" bernilai True, yang kemudian dicetak ke layar.

In [ ]:
fruits = ["apple", "banana", "cherry"]

print("pineapple" not in fruits)

True

### Analisis

Kode ini menyimpan list fruits = ["apple", "banana", "cherry"] dan menggunakan operator not in untuk memeriksa apakah string "pineapple" tidak ada di dalam list. Karena "pineapple" bukan elemen list, ekspresi "pineapple" not in fruits" bernilai True, yang kemudian dicetak ke layar.

## Membership in Strings

In [ ]:
text = "Hello World"

print("H" in text)
print("hello" in text)
print("z" not in text)

True
False
True

### Analisis

Kode ini memeriksa keberadaan karakter atau substring dalam string text = "Hello World" menggunakan operator in dan not in. Pernyataan "H" in text bernilai True karena karakter 'H' ada di string, sedangkan "hello" in text bernilai False karena Python membedakan huruf besar dan kecil (case-sensitive) sehingga 'hello' tidak sama dengan 'Hello'. Pernyataan "z" not in text" bernilai True karena karakter 'z' memang tidak ada dalam string.

## Bitwise Operators

In [ ]:
print(6 & 3)

2

### Analisis

Kode ini menggunakan operator bitwise AND (&) pada angka 6 dan 3. Dalam biner, 6 direpresentasikan sebagai 110 dan 3 sebagai 011. Operator AND membandingkan setiap bit: 1 & 0 = 0, 1 & 1 = 1, 0 & 1 = 0, sehingga menghasilkan 010 dalam biner atau 2 dalam desimal. Dengan demikian, kode ini mencetak 2 ke layar.

In [ ]:
print(6 | 3)

7

### Analisis

Kode ini menggunakan operator bitwise OR (|) pada angka 6 dan 3. Dalam biner, 6 direpresentasikan sebagai 110 dan 3 sebagai 011. Operator OR membandingkan setiap bit: 1 | 0 = 1, 1 | 1 = 1, 0 | 1 = 1, sehingga menghasilkan 111 dalam biner atau 7 dalam desimal. Dengan demikian, kode ini mencetak 7 ke layar.

In [ ]:
print(6 ^ 3)

5

### Analisis

Kode ini menggunakan operator bitwise XOR (^) pada angka 6 dan 3. Dalam biner, 6 direpresentasikan sebagai 110 dan 3 sebagai 011. Operator XOR menghasilkan 1 jika kedua bit berbeda dan 0 jika sama, sehingga perhitungan bit demi bit menghasilkan 101 dalam biner atau 5 dalam desimal. Dengan demikian, kode ini mencetak 5 ke layar.

## Operator Precedence

In [ ]:
print((6 + 3) - (6 + 3))

0

### Analisis

Kode ini melakukan operasi aritmatika sederhana. Pertama, (6 + 3) dihitung menjadi 9. Kemudian ekspresi menjadi 9 - 9, yang hasilnya 0. Dengan demikian, print((6 + 3) - (6 + 3)) mencetak 0 ke layar.

In [ ]:
print(100 + 5 * 3)

115

### Analisis

Kode ini melakukan operasi aritmatika dengan memperhatikan prioritas operator. Perkalian 5 * 3 dihitung terlebih dahulu menjadi 15, kemudian hasilnya dijumlahkan dengan 100, sehingga totalnya menjadi 115. Dengan demikian, kode ini mencetak 115 ke layar.

## Left-to-Right Evaluation

In [ ]:
print(5 + 4 - 7 + 3)

5

### Analisis

Kode ini melakukan operasi aritmatika penjumlahan dan pengurangan secara berurutan. Pertama, 5 + 4 menghasilkan 9, kemudian dikurangi 7 menjadi 2, dan terakhir ditambah 3 sehingga totalnya menjadi 5. Dengan demikian, kode ini mencetak 5 ke layar.

## Python Conditions and If statements

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

### Analisis

Kode tersebut menggunakan struktur percabangan if untuk membandingkan dua nilai variabel, yaitu a = 33 dan b = 200. Kondisi if b > a akan dicek, dan karena nilai b memang lebih besar dari a, maka pernyataan di dalam blok if akan dijalankan. Hasilnya, program menampilkan teks "b is greater than a" di layar.

## How If Statements Work

In [ ]:
number = 15
if number > 0:
  print("The number is positive")

The number is positive

### Analisis

Kode tersebut menggunakan percabangan if untuk memeriksa apakah nilai variabel number lebih besar dari nol. Karena number = 15, maka kondisi number > 0 bernilai benar. Akibatnya, program menjalankan perintah di dalam blok if dan menampilkan teks "The number is positive" di layar.

## Multiple Statements in If Block

In [ ]:
age = 20
if age >= 18:
  print("You are an adult")
  print("You can vote")
  print("You have full legal rights")

You are an adult
You can vote
You have full legal rights

### Analisis

Kode tersebut menggunakan percabangan if untuk mengevaluasi apakah nilai variabel age lebih besar atau sama dengan 18. Karena age = 20, kondisi tersebut bernilai benar. Maka, semua perintah di dalam blok if dijalankan, dan program menampilkan tiga baris teks: "You are an adult", "You can vote", dan "You have full legal rights".

## Using Variables in Conditions

In [ ]:
is_logged_in = True
if is_logged_in:
  print("Welcome back!")

Welcome back!

### Analisis

Kode tersebut menggunakan percabangan if untuk memeriksa nilai boolean pada variabel is_logged_in. Karena is_logged_in bernilai True, maka kondisi if terpenuhi dan perintah di dalam blok dijalankan. Akibatnya, program menampilkan teks "Welcome back!" di layar sebagai tanda bahwa pengguna telah berhasil login.

## The Elif Keyword

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

### Analisis

Kode tersebut menggunakan struktur percabangan if-elif untuk membandingkan dua nilai, yaitu a = 33 dan b = 33. Pertama, program memeriksa apakah b > a, namun kondisi ini salah karena kedua nilai sama. Lalu program melanjutkan ke kondisi elif a == b, yang bernilai benar. Akibatnya, program menampilkan teks "a and b are equal" di layar, menunjukkan bahwa kedua variabel memiliki nilai yang sama.

## Multiple Elif Statements

In [ ]:
score = 75

if score >= 90:
  print("Grade: A")
elif score >= 80:
  print("Grade: B")
elif score >= 70:
  print("Grade: C")
elif score >= 60:
  print("Grade: D")

Grade: C

### Analisis

Kode tersebut menggunakan percabangan if-elif untuk menentukan nilai huruf berdasarkan skor. Variabel score bernilai 75, sehingga program memeriksa beberapa kondisi secara berurutan. Kondisi score >= 90 dan score >= 80 bernilai salah, tetapi score >= 70 bernilai benar. Maka, program menjalankan perintah pada blok tersebut dan menampilkan teks "Grade: C" di layar, yang berarti nilai 75 dikategorikan sebagai Grade C.

## How Elif Works

In [ ]:
age = 25

if age < 13:
  print("You are a child")
elif age < 20:
  print("You are a teenager")
elif age < 65:
  print("You are an adult")
elif age >= 65:
  print("You are a senior")

You are an adult

### Analisis

Kode tersebut menggunakan percabangan if-elif untuk mengelompokkan usia ke dalam beberapa kategori. Variabel age bernilai 25, sehingga program memeriksa kondisi secara berurutan. Kondisi age < 13 dan age < 20 bernilai salah, tetapi age < 65 bernilai benar. Oleh karena itu, program menjalankan blok tersebut dan menampilkan teks "You are an adult", yang berarti usia 25 dikategorikan sebagai dewasa.

## When to Use Elif

In [ ]:
day = 3

if day == 1:
  print("Monday")
elif day == 2:
  print("Tuesday")
elif day == 3:
  print("Wednesday")
elif day == 4:
  print("Thursday")
elif day == 5:
  print("Friday")
elif day == 6:
  print("Saturday")
elif day == 7:
  print("Sunday")

Wednesday

### Analisis

Kode tersebut menggunakan percabangan if-elif untuk menentukan nama hari berdasarkan nilai variabel day. Karena day = 3, maka kondisi day == 3 bernilai benar, sementara kondisi sebelumnya bernilai salah. Akibatnya, program mengeksekusi perintah pada blok tersebut dan menampilkan teks "Wednesday" di layar, yang berarti nilai 3 mewakili hari Rabu.

## The Else Keyword

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

### Analisis

Kode tersebut menggunakan struktur percabangan if-elif-else untuk membandingkan dua nilai, yaitu a = 200 dan b = 33. Pertama, kondisi b > a bernilai salah karena 33 tidak lebih besar dari 200. Kondisi a == b juga salah karena nilainya tidak sama. Maka, program menjalankan bagian else dan menampilkan teks "a is greater than b", yang menunjukkan bahwa nilai a lebih besar dari b.

## Else Without Elif

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

### Analisis

Kode tersebut menggunakan percabangan if-else untuk membandingkan dua nilai, yaitu a = 200 dan b = 33. Kondisi b > a bernilai salah karena 33 tidak lebih besar dari 200. Oleh karena itu, program mengeksekusi bagian else dan menampilkan teks "b is not greater than a", yang berarti nilai b lebih kecil dari a.

## How Else Works

In [ ]:
number = 7

if number % 2 == 0:
  print("The number is even")
else:
  print("The number is odd")

The number is odd

### Analisis

Kode tersebut menggunakan percabangan if-else untuk menentukan apakah sebuah bilangan genap atau ganjil. Variabel number bernilai 7, lalu program memeriksa kondisi number % 2 == 0. Karena hasil sisa bagi 7 dengan 2 adalah 1, kondisi tersebut bernilai salah. Maka, program menjalankan bagian else dan menampilkan teks "The number is odd", yang berarti angka 7 adalah bilangan ganjil.

## Complete If-Elif-Else Chain

In [ ]:
temperature = 22

if temperature > 30:
  print("It's hot outside!")
elif temperature > 20:
  print("It's warm outside")
elif temperature > 10:
  print("It's cool outside")
else:
  print("It's cold outside!")

It's warm outside

### Analisis

Kode tersebut menggunakan percabangan if-elif-else untuk menentukan kondisi cuaca berdasarkan suhu. Variabel temperature bernilai 22, sehingga kondisi temperature > 30 bernilai salah, tetapi temperature > 20 bernilai benar. Akibatnya, program menjalankan blok tersebut dan menampilkan teks "It's warm outside", yang berarti suhu 22 derajat dikategorikan sebagai hangat.

## Else as Fallback

In [ ]:
username = "Emil"

if len(username) > 0:
  print(f"Welcome, {username}!")
else:
  print("Error: Username cannot be empty")

Welcome, Emil!

### Analisis

Kode menggunakan percabangan if-else untuk memeriksa apakah variabel username berisi teks atau kosong. Fungsi len(username) menghitung panjang string, dan karena username = "Emil" memiliki panjang lebih dari 0, kondisi len(username) > 0 bernilai benar. Maka, program menampilkan teks "Welcome, Emil!", yang menunjukkan bahwa pengguna berhasil diidentifikasi.

## Short Hand If

In [ ]:
a = 5
b = 2
if a > b: print("a is greater than b")

a is greater than b

### Analisis

Kode tersebut menggunakan percabangan if dalam satu baris untuk membandingkan dua nilai, yaitu a = 5 dan b = 2. Kondisi a > b bernilai benar karena 5 lebih besar dari 2. Karena itu, perintah setelah tanda titik dua (:) dijalankan, dan program menampilkan teks "a is greater than b" di layar.

## Short Hand If ... Else

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

B

### Analisis

Kode tersebut menggunakan percabangan if-else dalam satu baris (ternary operator) untuk membandingkan dua nilai, yaitu a = 2 dan b = 330. Kondisi a > b bernilai salah karena 2 lebih kecil dari 330, sehingga bagian setelah else yang dijalankan. Program menampilkan huruf "B" di layar.

## Assign a Value With If ... Else

In [ ]:
a = 10
b = 20
bigger = a if a > b else b
print("Bigger is", bigger)

Bigger is 20

### Analisis

Kode tersebut menggunakan operator ternary (if-else satu baris) untuk menentukan nilai yang lebih besar antara a dan b. Karena a = 10 dan b = 20, kondisi a > b bernilai salah, sehingga variabel bigger diisi dengan nilai b. Akibatnya, program menampilkan teks "Bigger is 20", yang menunjukkan bahwa nilai terbesar adalah 20.

## Multiple Conditions on One Line

In [ ]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

### Analisis

Kode tersebut menggunakan operator ternary bertingkat untuk membandingkan a dan b. Karena keduanya bernilai 330, kondisi a == b benar, sehingga outputnya adalah tanda sama dengan "=".

## Practical Examples

In [ ]:
x = 15
y = 20
max_value = x if x > y else y
print("Maximum value:", max_value)

Maximum value: 20

### Analisis

Kode tersebut menggunakan operator ternary untuk menentukan nilai terbesar antara x dan y. Jika x lebih besar dari y, maka max_value diisi dengan x; jika tidak, diisi dengan y. Karena x = 15 dan y = 20, kondisi x > y salah, sehingga max_value bernilai 20. Hasil yang dicetak adalah “Maximum value: 20”.

In [ ]:
username = ""
display_name = username if username else "Guest"
print("Welcome,", display_name)

Welcome, Guest

### Analisis

Kode tersebut menggunakan operator ternary untuk menentukan nilai yang akan ditampilkan sebagai nama pengguna. Jika variabel username berisi teks (tidak kosong), maka display_name akan bernilai sama dengan username. Namun, jika username kosong (seperti pada contoh), maka display_name diisi dengan string "Guest". Karena username kosong, output yang dihasilkan adalah “Welcome, Guest”.

## The and Operator

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

### Analisis

Kode tersebut menggunakan operator logika and untuk memeriksa dua kondisi sekaligus. Kondisi pertama adalah a > b, dan kondisi kedua adalah c > a. Keduanya harus bernilai True agar perintah di dalam blok if dijalankan. Dengan nilai a = 200, b = 33, dan c = 500, kedua kondisi benar karena 200 lebih besar dari 33 dan 500 lebih besar dari 200. Akibatnya, program mencetak “Both conditions are True”.

## The or Operator

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

### Analisis

Kode tersebut menggunakan operator logika or untuk memeriksa dua kondisi: apakah a > b atau a > c. Jika salah satu dari kondisi tersebut bernilai True, maka perintah di dalam blok if akan dijalankan. Dengan nilai a = 200, b = 33, dan c = 500, kondisi a > b benar (karena 200 lebih besar dari 33), meskipun a > c salah. Karena operator or hanya membutuhkan satu kondisi benar, hasilnya tetap True, sehingga program mencetak “At least one of the conditions is True”.

## The not Operator

In [ ]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

### Analisis

Kode tersebut menggunakan operator logika not untuk membalik hasil dari kondisi a > b. Dengan nilai a = 33 dan b = 200, kondisi a > b bernilai False karena 33 tidak lebih besar dari 200. Namun, karena ada not, hasilnya dibalik menjadi True, sehingga perintah di dalam blok if dijalankan dan program mencetak “a is NOT greater than b”.

## Combining Multiple Operators

In [ ]:
age = 25
is_student = False
has_discount_code = True

if (age < 18 or age > 65) and not is_student or has_discount_code:
  print("Discount applies!")

Discount applies!

### Analisis

Kode tersebut memeriksa syarat diskon dengan operator logika. Karena umur 25 tidak memenuhi syarat usia, tetapi memiliki has_discount_code = True, kondisi menjadi benar dan program mencetak “Discount applies!”.

## Using Parentheses for Clarity

In [ ]:
temperature = 25
is_raining = False
is_weekend = True

if (temperature > 20 and not is_raining) or is_weekend:
  print("Great day for outdoor activities!")

Great day for outdoor activities!

### Analisis

Kode tersebut menggunakan operator logika and, or, dan not untuk menentukan apakah hari tersebut cocok untuk aktivitas luar ruangan. Kondisi if menyatakan bahwa jika suhu lebih dari 20 derajat dan tidak hujan, atau hari itu adalah akhir pekan, maka akan mencetak “Great day for outdoor activities!”. Pada kode ini, temperature = 25, is_raining = False, dan is_weekend = True. Karena suhu tinggi dan tidak hujan, bagian pertama sudah benar, dan ditambah is_weekend juga True, maka seluruh kondisi bernilai True. Akibatnya, program mencetak “Great day for outdoor activities!”.

## More Examples

In [ ]:
username = "Tobias"
password = "secret123"
is_verified = True

if username and password and is_verified:
  print("Login successful")
else:
  print("Login failed")

Login successful

### Analisis

Kode tersebut memeriksa tiga kondisi sekaligus menggunakan operator logika and. Kondisinya adalah: username harus terisi, password harus terisi, dan is_verified harus bernilai True. Semua kondisi ini harus benar agar login dianggap berhasil. Pada contoh ini, username = "Tobias", password = "secret123", dan is_verified = True, sehingga semua kondisi terpenuhi. Hasilnya, program mencetak “Login successful”.

In [ ]:
score = 85

if score >= 0 and score <= 100:
  print("Valid score")
else:
  print("Invalid score")

Valid score

### Analisis

Kode tersebut menggunakan operator logika and untuk memeriksa apakah nilai score berada dalam rentang 0 hingga 100. Jika kedua kondisi (score >= 0 dan score <= 100) benar, maka program mencetak “Valid score”. Jika salah satu kondisi tidak terpenuhi, artinya nilai berada di luar rentang tersebut, maka akan mencetak “Invalid score”. Karena score = 85, yang berada dalam rentang 0–100, hasil outputnya adalah “Valid score”.

## Nested If Statements

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

### Analisis

Kode tersebut menggunakan percabangan bersarang (nested if) untuk memeriksa dua kondisi berurutan. Pertama, program mengecek apakah x > 10. Jika benar, maka mencetak “Above ten,”. Setelah itu, di dalam blok yang sama, ada if kedua yang memeriksa apakah x > 20. Jika benar, program mencetak “and also above 20!”, tetapi jika salah, mencetak “but not above 20.”. Karena x = 41, kedua kondisi x > 10 dan x > 20 bernilai benar.

## How Nested If Works

In [ ]:
age = 25
has_license = True

if age >= 18:
  if has_license:
    print("You can drive")
  else:
    print("You need a license")
else:
  print("You are too young to drive")

You can drive

### Analisis

Kode tersebut menggunakan percabangan bersarang (nested if) untuk menentukan apakah seseorang boleh mengemudi. Pertama, program memeriksa apakah age >= 18. Jika benar, maka lanjut memeriksa apakah has_license bernilai True. Jika kedua kondisi terpenuhi, program mencetak “You can drive”. Jika usia cukup tapi tidak memiliki lisensi, akan mencetak “You need a license”. Jika umur kurang dari 18, program mencetak “You are too young to drive”. Karena age = 25 dan has_license = True, outputnya adalah “You can drive”.

## Multiple Levels of Nesting

In [ ]:
score = 85
attendance = 90
submitted = True

if score >= 60:
  if attendance >= 80:
    if submitted:
      print("Pass with good standing")
    else:
      print("Pass but missing assignment")
  else:
    print("Pass but low attendance")
else:
  print("Fail")

Pass with good standing

### Analisis

Kode tersebut menggunakan percabangan bersarang (nested if) untuk menilai kelulusan berdasarkan tiga kriteria: nilai (score), kehadiran (attendance), dan pengumpulan tugas (submitted). Pertama, program memeriksa apakah score >= 60. Jika ya, lanjut memeriksa apakah attendance >= 80. Jika kedua syarat terpenuhi, program mengecek submitted. Jika submitted bernilai True, maka mencetak “Pass with good standing”. Jika tidak, mencetak “Pass but missing assignment”. Jika kehadiran kurang dari 80, mencetak “Pass but low attendance”, dan jika nilai di bawah 60, mencetak “Fail”. Karena score = 85, attendance = 90, dan submitted = True, semua kondisi terpenuhi, sehingga outputnya adalah “Pass with good standing”.

## Nested If vs Logical Operators

In [ ]:
temperature = 25
is_sunny = True

if temperature > 20:
  if is_sunny:
    print("Perfect beach weather!")

Perfect beach weather!

### Analisis

Kode tersebut menggunakan percabangan bersarang (nested if) untuk mengecek dua kondisi: suhu (temperature) dan cuaca (is_sunny). Pertama, program memeriksa apakah temperature > 20. Jika benar, maka lanjut memeriksa apakah is_sunny bernilai True. Jika kedua kondisi terpenuhi, program mencetak “Perfect beach weather!”. Karena temperature = 25 (lebih dari 20) dan is_sunny = True, kedua syarat terpenuhi, sehingga output yang dihasilkan adalah “Perfect beach weather!”.

In [ ]:
temperature = 25
is_sunny = True

if temperature > 20 and is_sunny:
  print("Perfect beach weather!")

Perfect beach weather!

### Analisis

Kode tersebut menggunakan operator logika and untuk memeriksa dua kondisi sekaligus dalam satu baris if. Kondisinya adalah suhu (temperature) harus lebih dari 20 dan cuaca (is_sunny) harus True. Jika kedua kondisi benar, maka program mencetak “Perfect beach weather!”. Karena temperature = 25 dan is_sunny = True, kedua syarat terpenuhi, sehingga output yang dihasilkan adalah “Perfect beach weather!”.

## More Examples

In [ ]:
username = "Emil"
password = "python123"
is_active = True

if username:
  if password:
    if is_active:
      print("Login successful")
    else:
      print("Account is not active")
  else:
    print("Password required")
else:
  print("Username required")

Login successful

### Analisis

Kode tersebut menggunakan percabangan bersarang (nested if) untuk memeriksa proses login secara bertahap. Pertama, program mengecek apakah variabel username berisi nilai. Jika ya, dilanjutkan dengan pengecekan apakah password juga terisi. Jika kedua kondisi terpenuhi, program memeriksa apakah akun aktif melalui is_active. Jika semua bernilai benar, maka mencetak “Login successful”. Jika akun tidak aktif, mencetak “Account is not active”. Jika password kosong, mencetak “Password required”, dan jika username kosong, mencetak “Username required”. Karena username = "Emil", password = "python123", dan is_active = True, semua kondisi terpenuhi, sehingga outputnya adalah “Login successful”.

In [ ]:
score = 92
extra_credit = 5

if score >= 90:
  if extra_credit > 0:
    print("A+ grade")
  else:
    print("A grade")
elif score >= 80:
  print("B grade")
else:
  print("C grade or below")

A+ grade

### Analisis

Kode tersebut menggunakan percabangan bersarang (nested if-elif-else) untuk menentukan nilai akhir berdasarkan score dan extra_credit. Pertama, program memeriksa apakah score >= 90. Jika benar, maka memeriksa apakah extra_credit > 0. Jika ya, mencetak “A+ grade”, jika tidak, mencetak “A grade”. Jika nilai tidak mencapai 90, program melanjutkan ke elif score >= 80 dan mencetak “B grade”, atau ke else untuk nilai di bawah 80 dengan output “C grade or below”. Karena score = 92 dan extra_credit = 5, kedua kondisi pertama benar, sehingga program mencetak “A+ grade”.

## The pass Statement

In [ ]:
a = 33
b = 200

if b > a:
  pass

### Analisis

Kode tersebut menggunakan pernyataan pass di dalam blok if. Kondisi if b > a memeriksa apakah b lebih besar dari a, dan dalam kasus ini benar karena 200 lebih besar dari 33. Namun, karena blok if hanya berisi pass, program tidak melakukan apa pun meskipun kondisi benar. Pernyataan pass digunakan sebagai placeholder, artinya blok tersebut sengaja dibiarkan kosong tanpa menyebabkan error sintaks.

## pass in Development

In [ ]:
age = 16

if age < 18:
  pass # TODO: Add underage logic later
else:
  print("Access granted")

### Analisis

Kode tersebut menggunakan pernyataan pass sebagai placeholder dalam blok if. Program memeriksa apakah age < 18. Jika benar, blok if dijalankan, tetapi karena hanya berisi pass, tidak ada aksi yang dilakukan—komentar # TODO: Add underage logic later menunjukkan bahwa logika tambahan akan ditulis nanti. Jika kondisi salah (usia 18 atau lebih), maka program mencetak “Access granted”. Karena age = 16, kondisi age < 18 benar, jadi program tidak menampilkan output apa pun.

## pass vs Comments

In [ ]:
score = 85

if score > 90:
  pass # This is excellent
print("Score processed")

Score processed

### Analisis

Kode tersebut menggunakan pass sebagai placeholder di dalam blok if. Program memeriksa apakah score > 90. Jika kondisi benar, blok if akan dijalankan, tetapi karena hanya berisi pass, tidak ada tindakan yang dilakukan. Jika kondisi salah, blok if dilewati dan program tetap melanjutkan eksekusi. Karena score = 85 tidak lebih besar dari 90, kondisi if salah, dan program langsung mencetak “Score processed”.

## pass with Multiple Conditions

In [ ]:
value = 50

if value < 0:
  print("Negative value")
elif value == 0:
  pass # Zero case - no action needed
else:
  print("Positive value")

Positive value

### Analisis

Kode tersebut menggunakan percabangan if-elif-else untuk mengelompokkan nilai value. Jika value kurang dari 0, program mencetak “Negative value”. Jika value sama dengan 0, blok elif dijalankan, tetapi hanya berisi pass, sehingga tidak melakukan apa pun — ini menandakan bagian tersebut disiapkan untuk logika tambahan di masa depan. Jika kedua kondisi sebelumnya tidak terpenuhi, maka program mencetak “Positive value”. Karena value = 50, kondisi terakhir yang terpenuhi, sehingga outputnya adalah “Positive value”.

## pass in Other Contexts

In [ ]:
def calculate_discount(price):
  pass # TODO: Implement discount logic

# Function exists but doesn't do anything yet

### Analisis

Kode tersebut mendefinisikan sebuah fungsi bernama calculate_discount dengan satu parameter, yaitu price. Namun, di dalam fungsi hanya terdapat pernyataan pass, yang berarti fungsi tersebut belum memiliki logika atau tindakan apa pun. Komentar # TODO: Implement discount logic menunjukkan bahwa fungsi ini direncanakan untuk diisi dengan perhitungan diskon di kemudian hari. Saat ini, jika fungsi dipanggil, tidak akan menghasilkan output atau melakukan proses apa pun.

## The Python Match Statement

In [ ]:
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Thursday

### Analisis

Kode tersebut menggunakan struktur kontrol match-case yang diperkenalkan di Python 3.10 sebagai alternatif dari banyak if-elif-else. Nilai variabel day dibandingkan dengan setiap case yang mewakili angka 1 sampai 7, masing-masing mencetak nama hari sesuai angkanya. Jika nilai day cocok dengan salah satu case, maka blok perintah di dalamnya dijalankan. Dalam kode ini, day = 4, sehingga program mencocokkan case 4 dan mencetak “Thursday”. Jika tidak ada kecocokan, program tidak akan mencetak apa pun (karena tidak ada case _ sebagai default).

## Default Value

In [ ]:
day = 4
match day:
  case 6:
    print("Today is Saturday")
  case 7:
    print("Today is Sunday")
  case _:
    print("Looking forward to the Weekend")

Looking forward to the Weekend

### Analisis

Kode tersebut menggunakan struktur match-case untuk memeriksa nilai variabel day. Setiap case mewakili kondisi tertentu, mirip dengan switch di bahasa lain. Jika day bernilai 6, program mencetak “Today is Saturday”; jika 7, mencetak “Today is Sunday”. Tanda garis bawah (_) berfungsi sebagai default case, yang dijalankan jika tidak ada kondisi lain yang cocok. Karena day = 4, tidak cocok dengan case 6 atau case 7, maka program menjalankan case _ dan mencetak “Looking forward to the Weekend”.

## Combine Values

In [ ]:
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print("I love weekends!")

Today is a weekday

### Analisis

Kode tersebut menggunakan struktur match-case dengan operator | (OR) untuk mencocokkan beberapa nilai dalam satu baris. Variabel day dibandingkan dengan beberapa kemungkinan nilai: jika day adalah 1, 2, 3, 4, atau 5, maka program mencetak “Today is a weekday”. Jika day adalah 6 atau 7, maka mencetak “I love weekends!”. Karena day = 4, kondisi pertama terpenuhi, sehingga output yang dihasilkan adalah “Today is a weekday”.

## If Statements as Guards

In [ ]:
month = 5
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5 if month == 4:
    print("A weekday in April")
  case 1 | 2 | 3 | 4 | 5 if month == 5:
    print("A weekday in May")
  case _:
    print("No match")

A weekday in May

### Analisis

Kode tersebut menggunakan struktur match-case dengan kondisi tambahan (if) untuk mencocokkan nilai day dan month secara bersamaan. Program akan memeriksa apakah day termasuk 1–5 dan apakah month bernilai 4, lalu mencetak “A weekday in April”. Jika day termasuk 1–5 dan month bernilai 5, maka mencetak “A weekday in May”. Jika tidak ada kondisi yang cocok, maka menjalankan case _ dan mencetak “No match”. Karena pada kode ini month = 5 dan day = 4, kondisi kedua terpenuhi, sehingga output yang dihasilkan adalah “A weekday in May”.